.textContainer {
  position: absolute;
  width: 898px;
  height: 72px;
  /* left: 271px; */
  top: 169px;
  /* top: 53.5%; */
  margin: 0;
  left: 50%;
  transform: translate(-50%, -50%)
}
.text {
  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
}
.createNewGroup {
  position: absolute;
  width: 316px;
  height: 47px;
  left: 30%;
  top: 347px;
  
  

  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px; 
  /* identical to box height */
  text-align: center;

  color: #3a3a3a;
}
.joinGroup {
  position: absolute;
  width: 337px;
  height: 47px;
  left: 55%;
  top: 347px;

  font-family: PT Sans Caption;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */
  text-align: center;

  color: #3a3a3a;
}
