.pageContainer {
  /* background: #fff; */
  display: flex;
  justify-content: center;
  position:absolute; 

  /* full width & height for the background color */
  height:100%; 
  width:100%;
  background: rgb(180,58,119);
  background: linear-gradient(
    0deg,
    rgba(180, 58, 119, 1) 0%,
    rgba(253,29,29,0.7371323529411764) 0%,
    rgba(252,176,69,1) 100%
  );
}

/* .elementsContainer {
  
} */
.header {
  text-align: center;  
}

.mr-auto {

  text-align: center;
  
}
